@{
  ViewData["Title"] = "Countries";
}

<h1>@ViewData["Title"]</h1>

<div id="country-list"></div>

<script>
  $(document).ready(() => {
    loadCountries();
  })

  function loadCountries(pageNo = 1, pageSize = 20) {
    $('#loader').show();

    let url = `@Url.Action("List", "Countries")?pageNo=${pageNo}&pageSize=${pageSize}`;
    url += addFilter('searchName');
    url += addFilter('searchRegion');
    url += addFilter('searchSubregion');

    $('#country-list').load(url, () => {
      $('#loader').hide();
    })
  }

  function addFilter(name) {
    var searchTerm = $(`#${name}`).val();
    if (searchTerm)
      return `&${name}=${searchTerm}`;
    else
      return "";
  }
</script>
